.about-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  .back-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  
  h1 {
    color: #333;
  }
  
  /* h2 {
    color: #fff;
    margin-top: 20px;
  } */
  
  p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
  }
  
  ul {
    text-align: left;
    margin: 20px auto;
    padding-left: 20px;
  }
  
  ul li {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
  }
  